<!-- Modal -->
<div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="answerModalLabel">New Answer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--
        wrap up both the body with inputs and footer with buttons in the form

        <form class="form-horizontal" action="/questions" method="POST">
        action + method defines a route of the verb (POST) to the url (question) which will get routed in routes.rb

        form_for helper generates both the form and a valid authentication token
      -->
      <%= form_for :answer, url: '/answers', html: {class:'form-horizontal'} do %>
        <div class="modal-body">
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" name="answer_email" class="form-control" id="answerEmail" placeholder="Email" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputAnswer" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="answer_body" id="answerContent" placeholder="What is your answer" required></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!--
            button type is submit to submit all inputs
          -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</div>