<!--
  插入图片用image_tag,参数可以设置宽和高
  class="mr-3"设置margin,margin是元素左右边距
-->
<div class="container">
  <div class="media">
    <a href="" class="mr-3">
      <%= image_tag('email.png', height: '32', width: '50')%>
    </a>
    <div class="media-body">
      <h5 class="media-heading mt-0">user@email.com asked:</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      <div>
        <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
      </div>
    </div>
  </div>

  <div class="media">
    <a href="" class="mr-3">
      <%= image_tag('email.png', height: '32', width: '50')%>
    </a>
    <div class="media-body">
      <h5 class="media-heading mt-0">user@email.com asked:</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      <div>
        <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
      </div>
    </div>
  </div>

  <div class="media">
    <a href="" class="mr-3">
      <%= image_tag('email.png', height: '32', width: '50')%>
    </a>
    <div class="media-body">
      <h5 class="media-heading mt-0">user@email.com asked:</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      <div>
        <a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
      </div>
    </div>
  </div>
</div>